html, body, #root {
	height: 100%;
}

.widget {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: calc(var(--ring-unit) * 2);
	padding: calc(var(--ring-unit) * 2);
	box-sizing: border-box;
}

.widget > iframe {
	flex: 1;
	border: none;
}

.ring-form > .config-buttons {
	margin-top: calc(var(--ring-unit) * 2);
}
